<?xml version="1.0"?>
<data>
  <service name="wzguest">
    <ssid>WZ_Web</ssid>
    <user>PRENOM.NOM@total.com</user>
    <password>PWD</password>
    <url>https://guest.hubtotal.net:1003</url>
    <redirurl>http://www.iero.org/test</redirurl>
    <keychain value="False"/>
  </service>
</data>
